<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Title of Page to edit new Person</title>
</head>

<body>

<form th:method="POST" th:action="@{/people/{id}(id=${editedPerson.getId()})}" th:object="${editedPerson}">
    <label for="name">Enter name of edited person</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
    <br/>
    <br/>
    <label for="myAge">Enter age of new person</label>
    <input type="text" th:field="*{age}" id="myAge">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br/>
    <label for="myEmail">Enter age of new person</label>
    <input type="text" th:field="*{email}" id="myEmail">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
    <br/>
    <input type="submit" value="Push me to edit this person!">
</form>

</body>

</html>